{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="h3 mb-4 text-center">Email de réinitialisation envoyé</h1>

        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé avec un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>

        <p>
            Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.
        </p>
    </div>
{% endblock %}
