{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow p-4">
            <div class="card-body text-center">
                <h1 class="h3 mb-4">Email de réinitialisation envoyé</h1>

                <p class="text-muted">
                    Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé avec un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                </p>
                <p class="text-muted">
                    Ce lien expirera dans 
                    <strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.
                </p>

                <p class="mt-3">
                    Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou
                    <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none text-primary">réessayez</a>.
                </p>

                <a href="{{ path('app_login') }}" class="btn btn-primary w-100 mt-4">Retour à la page de connexion</a>
            </div>
        </div>
    </div>
{% endblock %}

