{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Bonjour !</h1>

        <p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant :</p>

        <div class="text-center">
            <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="btn btn-primary">
                Réinitialiser mon mot de passe
            </a>
        </div>

        <p>
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>

        <p>Cordialement !</p>
    </div>
{% endblock %}

