{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="h3 mb-4 text-center">Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm, { 'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'} }) }}
        
        <div class="mb-3">
            {{ form_row(requestForm.email, {'attr': {'class': 'form-control'}}) }}
            <div class="form-text text-muted">
                Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </div>
        </div>

        <button class="btn btn-primary w-100">Envoyer l'email de réinitialisation du mot de passe</button>
        
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
