{% extends 'base.html.twig' %}

{% block title %}Youngbrighthing
{% endblock %}

{% block body %}
	<main class="container mt-5">
		<div class="container mt-5">
			<h1>Conditions d'utilisation</h1>
			<p>Bienvenue sur notre site. En utilisant nos services, vous acceptez ces conditions.</p>
			<h2>1. Acceptation des conditions</h2>
			<p>En accédant à notre site, vous acceptez d'être lié par ces conditions.</p>
			<h2>2. Modifications</h2>
			<p>Nous nous réservons le droit de modifier ces conditions à tout moment.</p>
			<a class="btn btn-primary mt-3" href="{{ path('home')}}">Retour à l'accueil</a>
			</div>
	</main>
{% endblock %}
