{% extends 'base.html.twig' %}

{% block title %}Youngbrighthing
{% endblock %}

{% block body %}
	<main>
		<body>
			<h1>Politique de confidentialité</h1>
			<p>Nous nous engageons à protéger votre vie privée. Voici comment nous utilisons vos données.</p>
			<h2>1. Collecte des informations</h2>
			<p>Nous collectons des informations lorsque vous utilisez notre site.</p>
			<h2>2. Utilisation des informations</h2>
			<p>Les informations que nous recueillons peuvent être utilisées pour améliorer notre service.</p>
			<a href="{{ path('home')}}">Retour à l'accueil</a>
		</body>
	</main>
{% endblock %}
