{% extends 'base.html.twig' %}

{% block title %}Youngbrighthing
{% endblock %}

{% block body %}
	<main>
		<body>
			<h1>Mentions légales</h1>
			<p>Ces mentions légales ont pour objectif de vous informer sur notre entreprise.</p>
			<h2>1. Identification</h2>
			<p>Nom de l'entreprise : Exemple SARL</p>
			<p>Adresse : 123 Rue de l'Exemple, 75000 Paris, France</p>
			<h2>2. Contact</h2>
			<p>Email : contact@exemple.com</p>
			<a href="{{ path('home')}}">Retour à l'accueil</a>

		</body>
	</main>
{% endblock %}
