{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - Youngbrighthing
{% endblock %}

{% block body %}
	<main class="container mt-5">
		<div class="container mt-5">
			<h1>Mentions Légales</h1>

			<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Youngbrighthing l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

			<h2>Édition du site</h2>
			<p>Le présent site, accessible à l’URL
				<a href="https://www.youngbrighthing.com">Youngbrighthing.com</a>
				(le « Site »), est édité par :</p>
			<p>
				<strong>Fouad El Hanti</strong>, résidant au 16 rue de la ville l'Évêque, 78008 Paris, de nationalité Française (France), né le 13/02/1992.</p>

			<h2>Hébergement</h2>
			<p>Le Site est hébergé par la société
				<strong>Hostinger International LTD</strong>, dont le siège est situé à l'adresse suivante :
				<a href="https://www.hostinger.fr/contact">https://www.hostinger.fr/contact</a>.</p>

			<h2>Directeur de publication</h2>
			<p>Le Directeur de la publication du Site est :
				<strong>Fouad El Hanti</strong>.</p>

			<h2>Nous contacter</h2>
			<p>
				<strong>Par téléphone :</strong>
				+33613332564</p>
			<p>
				<strong>Par email :</strong>
				<a href="mailto:pro.felhanti@gmail.com">pro.felhanti@gmail.com</a>
			</p>
			<p>
				<strong>Par courrier :</strong>
				16 rue de la ville l'Évêque, 78008 Paris</p>

			<h2>Données personnelles</h2>
			<p>Le traitement de vos données à caractère personnel est régi par notre
				<a href="{{ path('app_cgv_confidentialite') }}">Politique de protection des données</a>, disponible depuis la section "Politique de protection des données", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).</p>

			<a class="btn btn-dark text-gold mt-3 mb-3" href="{{ path('home')}}">Retour à l'accueil</a>
		</div>
	</main>
{% endblock %}
