{% extends 'base.html.twig' %}

{% block title %}Youngbrighthing
{% endblock %}

{% block body %}
	<main>
		<body>
			<h1>Politique de retour</h1>
			<p>Nous souhaitons que vous soyez satisfait de votre achat. Voici notre politique de retour.</p>
			<h2>1. Délai de retour</h2>
			<p>Vous avez 30 jours à partir de la date d'achat pour retourner un article.</p>
			<h2>2. Conditions de retour</h2>
			<p>Les articles doivent être retournés dans leur état d'origine.</p>
			<a href="{{ path('home')}}">Retour à l'accueil</a>
		</body>
	</main>
{% endblock %}
