{% extends 'base.html.twig' %}

{% block title %}
  Youngbrighthing
{% endblock %}

{% block body %}

  <main>
      <!-- Caroussel -->
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://placehold.co/1920x1080"
              class="d-block w-100 h-50"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block text-black">
              <h5>YOUNGBRIGHTHING</h5>
              <p>Élever votre style, briser les codes!</p>
              <button type="button" class="btn btn-dark">
                SHOP NOW
              </button>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://placehold.co/1920x1080"
              class="d-block w-100 h-50"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>YOUNGBRIGHTHING</h5>
              <p>Élever votre style, briser les codes!</p>
              <button type="button" class="btn btn-outline-light">
                SHOP NOW
              </button>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://placehold.co/1920x1080"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>YOUNGBRIGHTHING</h5>
              <p>Élever votre style, briser les codes!</p>
              <button type="button" class="btn btn-outline-light">
                SHOP NOW
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Capsule -->
      <div class="m-5 p-1">
        <h2 class="d-flex justify-content-center text-black">Capsules</h2>
        <p class="text-black">
          Troisième histoire de Youngbrighthing, la CAPSULE III déconstruit le
          costume, s'inspirant d'un univers où les vêtements n'ont plus de
          limites, laines ajourées, cotons mélangés, mailles déchirées, tissus
          recyclés, l'idée de vêtement unisexe est toujours présente avec un
          style brut et urbain, l'élégance et l'esthétique qui rendent chaque
          pièce unique correspond à toute morphologie.
        </p>
        <div class="container-fluid d-flex">
          <a
            href="https://www.w3docs.com/"
            class="btn btn-dark container-fluid d-flex justify-content-center col-3 col-sm-2"
            >DROP 1</a
          >
          <a
            href="https://www.w3docs.com/"
            class="btn btn-dark container-fluid d-flex justify-content-center col-3 col-sm-2"
            >DROP 2</a
          >
          <a
            href="https://www.w3docs.com/"
            class="btn btn-dark container-fluid d-flex justify-content-center col-3 col-sm-2"
            >DROP 3</a
          >
        </div>
      </div>

      <!-- Liste des articles -->
      <div class="mt-5">
        <h2 class="d-flex justify-content-center text-black">Last drop</h2>
        <div class="row d-flex justify-content-center m-4">
          <!-- Article 1 -->
          <div class="col-md-4">
            <div class="card mb-4 color2 text-white">
              <img
                src="https://placehold.co/400x400"
                class="card-img-top"
                alt="Article 1"
              />
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">MIXED JEANS DENIM 2024</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="https://placehold.co/400x400" class="btn btn-outline-light">160.00€</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Article 2 -->
          <div class="col-md-4">
            <div class="card mb-4 color2 text-white">
              <img
                src="https://placehold.co/400x400"
                class="card-img-top"
                alt="Article 1"
              />
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">MIXED JEANS DENIM 2024</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-outline-light">160.00€</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Article 3 -->
          <div class="col-md-4">
            <div class="card mb-4 color2 text-white">
              <img
                src="https://placehold.co/400x400"
                class="card-img-top"
                alt="Article 1"
              />
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">MIXED JEANS DENIM 2024</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-outline-light">170.00€</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Article 4 -->
          <div class="col-md-4">
            <div class="card mb-4 color2 text-white">
              <img
                src="https://placehold.co/400x400"
                class="card-img-top"
                alt="Article 1"
              />
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">MIXED JEANS DENIM 2024</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-outline-light">160.00€</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Article 5 -->
          <div class="col-md-4">
            <div class="card mb-4 color2 text-white">
              <img
                src="https://placehold.co/400x400"
                class="card-img-top"
                alt="Article 1"
              />
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">MIXED JEANS DENIM 2024</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-outline-light">160.00€</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Article 6 -->
          <div class="col-md-4">
            <div class="card mb-4 color2 text-white">
              <img
                src="https://placehold.co/400x400"
                class="card-img-top"
                alt="Article 1"
              />
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">MIXED JEANS DENIM 2024</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-outline-light">160.00€</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-4 row border border-1">
        <div class="col-md-6 border border-1">
          <h2 class="d-flex justify-content-center text-black">
            Youngbrighthing - Libérer le Style Sans Limites
          </h2>
          <p class="text-black">
            Entrez chez Youngbrighthing, où la mode abolit les frontières.
            CAPSULE III réinvente la tenue, avec des laines ajourées, des cotons
            mélangés et des tissus recyclés. Nos créations unisexes dégagent une
            élégance urbaine brute, adaptée à toutes les silhouettes. Découvrez
            une mode sans limites chez Youngbrighthing. Lorem, ipsum dolor sit
            amet consectetur adipisicing elit. Consequatur enim aliquid nemo
            aperiam quis temporibus repellat porro eaque. Ab consequuntur,
            soluta libero eius, adipisci earum harum magnam mollitia a illum
            omnis suscipit molestiae nihil aut dolores. Quod consequuntur
            accusantium explicabo voluptas deserunt doloribus quo at praesentium
            officiis nobis accusamus nostrum quaerat, nam qui quas, eius, maxime
            temporibus ullam ut laudantium. Delectus aspernatur temporibus enim
            aliquid, quibusdam accusamus saepe voluptates doloremque eveniet
            suscipit autem ipsa eaque quis eius sed vel, reiciendis omnis ab
            sint. Iste nobis culpa, quisquam fugit vel sequi praesentium
            explicabo, ipsa reprehenderit aliquam impedit. Odio veritatis
            tempora inventore a cumque saepe explicabo iusto, nesciunt quaerat
            
            
          </p>
        </div>
        <div class="border border-1 col-md-6">
          <img
            src="{{ asset('images/IMG_20240417_172439_073.jpg')}}"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </main>

{% endblock %}

