{% extends 'base.html.twig' %}

{% block title %}Youngbrighthing
{% endblock %}

{% block body %}
	<main>
		<!-- Carousel -->
		<div id="carous" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="3000">
					<img src="https://placehold.co/1920x1080" class="d-block w-100" alt="Slide 1">
					<div class="carousel-caption d-none d-md-block text-black">
						<h5 class="display-4 fw-bold">YOUNGBRIGHTHING</h5>
						<p class="lead">Élever votre style, briser les codes!</p>
						<button type="button" class="btn btn-dark btn-lg">SHOP NOW</button>
					</div>
				</div>
        <div class="carousel-item" data-bs-interval="3000">
					<img src="https://placehold.co/1920x1080" class="d-block w-100" alt="Slide 2">
					<div class="carousel-caption d-none d-md-block text-black">
						<h5 class="display-4 fw-bold">YOUNGBRIGHTHING</h5>
						<p class="lead">Élever votre style, briser les codes!</p>
						<button type="button" class="btn btn-dark btn-lg">SHOP NOW</button>
					</div>
				</div>
        <div class="carousel-item" data-bs-interval="3000">
					<img src="https://placehold.co/1920x1080" class="d-block w-100" alt="Slide 3">
					<div class="carousel-caption d-none d-md-block text-black">
						<h5 class="display-4 fw-bold">YOUNGBRIGHTHING</h5>
						<p class="lead">Élever votre style, briser les codes!</p>
						<button type="button" class="btn btn-dark btn-lg">SHOP NOW</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Section Capsules -->
		<section class="capsules py-5">
			<div class=" container-fluid">
				<h2 class="text-center mb-4">Capsules</h2>
				<p class="text-center mb-5 mx-auto">
					Troisième histoire de Youngbrighthing, la CAPSULE III déconstruit le costume, s'inspirant d'un univers où les vêtements n'ont plus de limites, laines ajourées, cotons mélangés, mailles déchirées, tissus recyclés, l'idée de vêtement unisexe est toujours présente avec un style brut et urbain, l'élégance et l'esthétique qui rendent chaque pièce unique correspond à toute morphologie.
				</p>
				<div class="d-flex justify-content-center gap-5">
					{% for i in 1..3 %}
						<a href="#" class="btn btn-dark px-4">DROP
							{{ i }}</a>
					{% endfor %}
				</div>
			</div>
		</section>

		<!-- Section Last Drop -->
		<section class="last-drop p-5 bg-light">
			<div class="container-fluid">
				<h2 class="text-center mb-5">Last drop</h2>
				<div class="row g-4">
					{% for i in 1..6 %}
						<div class="col-12 col-lg-4">
							<div class="card h-100 color2 text-white">
								<img src="https://placehold.co/400x400" class="card-img-top" alt="Article {{ i }}">
								<div class="card-body text-center">
									<h5 class="card-title mb-3">MIXED JEANS DENIM 2024</h5>
									<a href="#" class="btn btn-outline-light">160.00€</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<!-- Section À Propos -->
		<section class="about py-5">
			<div class="container-lg">
				<div class="row g-0">
					<div class="col-md-6 p-4">
						<h2 class="text-center mb-4">Youngbrighthing - Libérer le Style Sans Limites</h2>
						<p class="text-justify">
							Entrez chez Youngbrighthing, où la mode abolit les frontières.CAPSULE III réinvente la tenue, avec des laines ajourées, des coton mélangés et des tissus recyclés. Nos créations unisexes dégagent uneélégance urbaine brute, adaptée à toutes les silhouettes. Découvrezune mode sans limites chez Youngbrighthing.
						</p>
					</div>
					<div class="col-md-6">
						<img src="{{ asset('images/IMG_20240417_172439_073.jpg')}}" alt="À propos de Youngbrighthing" class="img-fluid w-100 h-100 object-fit-cover">
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
