html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #c7c7c7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

.navbar-menu {
  height: 70px; /* Hauteur fixe pour le menu */
}

.color-gray {
  color: #c7c7c7;
}
.bg-gray {
  background-color: #c7c7c7;
}

.text-gold {
  color: rgb(255, 217, 0);
}
.bg-gold {
  background-color: #ffd700;
}

.logo {
  text-decoration: none;
}

.carousel-item img {
  height: 70vh;
  object-fit: cover;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.object-fit-cover {
  object-fit: cover;
}

.nav-link:hover{
  color: lightgoldenrodyellow;
}
@media (max-width: 768px) {
  .carousel-item img {
    height: 50vh;
  }
  .logo {
    text-decoration: none;
    justify-content: center;
  }
}

.white-space{
  white-space: nowrap;
}

.back_img_product{
  max-width: 250px;
  max-height: 350px;
}

.img-card{
  height: 100%;
  max-width: 1200px;
  /* max-height: 1200px; */
}

.form-check-label {
  display: block;
  margin-bottom: 0.5rem; /* Espace entre le label et la case à cocher */
}

.img-product {
  max-width: 100%;
}

/* Palette : Élégance Classique
Couleur Principale : Noir (#000000)
Couleur Secondaire : Blanc (#FFFFFF)
Accent : Or Métallique (#FFD700)
Couleur de Fond : Gris Clair (#F7F7F7) */
